<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title || dataset.forum_name +"-forum" %></title>
  <meta name="description" content="<%= dataset.description %>">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/themes/default_white/main.css" />
  <link rel="stylesheet" href="/css/common.css" />
</head>