/* akf-forum default theme config file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main: #4d18e6;
    --btn-clr-1: #e8e8e8;
    --menu-item: #ffffff;
    --borders: #d9d9d9;
    --input-clr: #414141;
    --box-shadow: #c3c3c3;
    --second: #747474;
    --anti: #151515;
    --t-username: #555;
    --important: red;
    background-color: #ffffff;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

a {
    text-decoration: none;
    color: initial;
}

.header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px;
    font-size: 28px;
    color: var(--main);
    font-weight: 900;
}

.logo>span {
    color: var(--second);
}

.buttons {
    padding: 0;
    display: flex;
    align-items: center;
}

.btn-primary {
    color: var(--btn-clr-1);
    background-color: var(--main);
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    font-weight: 700;
    margin: 10px;
    cursor: pointer;
    border: 2px solid var(--main);
}

.btn-danger {
    color: var(--btn-clr-1);
    background-color: var(--important);
    padding: 0px 10px 0px 10px;

    border-radius: 4px;
    font-weight: 700;
    margin: 10px;
    cursor: pointer;
    border: 2px solid var(--important);
}


.btn-outline-primary {
    color: var(--main);
    padding: 10px 20px 10px 20px;

    border-radius: 4px;
    font-weight: 700;
    margin: 10px;
    cursor: pointer;
    border: 2px solid var(--borders);
}



.btn-primary:hover {
    color: var(--main);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--main);
}

.btn-outline-primary:hover {
    border: 2px solid var(--main);
}

.btn-danger:hover {
    background-color: var(--important);
    border: 2px solid var(--important);
}


.menu {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    padding: 10px;
    font-weight: 700;
    background-color: var(--second);
    color: var(--menu-item);

    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active-menu {
    background-color: var(--main);
}

.menu-item:hover {
    background-color: var(--main);
}

.admin-bar {
    font-size: 15px;
    color: var(--menu-item);
    background: var(--main);
    text-align: center;
}

div.avatar {
    padding-left: 10px;
}

.avatar>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.box-username {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--main);
}

.CodeMirror {
    color: var(--input-clr);
    background-color: var(--bs-body-bg);
}

.title {
    color: var(--main);
}

.input {
    padding: 8px 10px;
    color: var(--input-clr);
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid var(--borders);
}

form.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
    }

    .menu-item {
        margin: 0px 10px 10px 0px;
    }


}

@media (max-width: 480px) {
    .btn-outline-primary {
        width: 100%;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
    }

    .btn-primary {
        width: 100%;
        text-align: center;
    }
}


/*
FOOTER
*/

select {
    background: #ebebeb;
    border: white;
    padding: 8px 20px;
    font-size: 16px;
    font-family: inherit;
}

select option {
    font-family: inherit;
    width: 290px;
}

.footer {
    width: 100%;
    background-color: var(--main);
    bottom: 0;
    color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

/***********************************
PAGINATION
***********************************/
.pagination {
    box-shadow: 0 0 5px 0 var(--box-shadow);
    margin: 10px auto;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    gap: 10px;
    position: relative;
}

.pagination .back,
.pagination .after {
    color: var(--second);
    font-size: 26px;
    cursor: pointer;
}


.pagination .numbers {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination .number {
    color: var(--second);
    font-size: 22px;
    border: 0 0 5px var(--second);
    padding: 8px;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    margin: 8px;
}

.pagination .number.active {
    color: var(--main);
    font-weight: 700;
}


/************************************
Threads
*************************************/
.threads {
    width: 100%;
    padding: 20px;
}

.threads-box {
    width: 100%;
    padding: 8px;
    box-shadow: 0 0 5px 0 var(--box-shadow);
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 8px 0px;
    cursor: pointer;
    align-items: center;
}

.threads-box:hover {
    background-color: var(--box-shadow);
}

.thread-box-title {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--anti);

}

.thread-box-title>span {
    color: var(--important);
}


@media (max-width: 480px) {
    .threads-box {
        flex-direction: column;
    }
}


/*****
LOGIN / REGISTER
******/

form.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}

/********
MESSAGES
********/
.message .date {
    color: var(--second);
}

.message {
    max-width: 800px;
    box-shadow: 0 0 5px 0 var(--box-shadow);
    margin: 10px auto;
    padding: 20px;
    display: flex;
    gap: 10px;
    position: relative;
}

.message .left {
    text-align: center;
    border-right: 2px solid var(--borders);
}

.message .left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 5px;
}

.message .left .username a {
    color: var(--t-username);
}

.message .content {
    width: 70%;
    color: var(--anti);
}


@media(max-width:980px) {
    .message {
        margin: 10px 20px;
        max-width: 100%;
        flex-direction: column;
        position: relative;
    }

    .message .left {
        padding: 40px;
        border: none;
        border-bottom: 2px solid var(--borders);

    }

    .message .left img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 5px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .message .left .username {
        position: absolute;
        top: 20px;
        left: 80px;
    }

    .message .date:nth-of-type(3) {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .message .date:nth-of-type(2) {
        position: absolute;
        right: 20px;
        top: 40px;
    }


    .message .content {
        width: 50%;
    }

}

/************************************
SEARCH
***************************************/

.search form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 5px 0 #b0b0b0;
}

/****************************************
USERS
*****************************************/
.users {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.user-box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 0 var(--box-shadow);
    max-width: 500px;
}

.user-box-title {
    padding: 10px;
    margin: 8px;
    font-weight: 500;

}

.user-box-title>a {
    color: var(--anti);

}

.user-box-title>span {
    color: var(--important);
}

.user-box-img {
    width: 80px;
    height: 80px;
    margin: auto;
}

@media (max-width: 992px) {
    .users {
        display: block;
    }

    .user-box {
        margin-bottom: 10px;
    }
}



/************************************
  THREAD
    *************************************/
.title {
    color: var(--input-clr);
    font-weight: 700;
    font-size: 36px;
}

.reactions {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.reactions div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
    color: var(--second);
    cursor: pointer;
    transition: color 0.3s ease;
}

.reactions div:hover {
    color: var(--anti);

}

.reactions div i {
    font-size: 22px;
}

.dots {
    position: absolute;
    right: 20px;
    font-size: 22px;
    top: 10px;
    color: var(--second);
    cursor: pointer;
}

.dots-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--second);
    width: 100px;
    text-align: center;
    display: none;
}

.active {
    display: block;
}

.no-display {
    display: none;
}

.dots-menu a {
    display: block;
    margin: 8px;
    cursor: pointer;
}

.dots-menu a:hover:nth-child(1) {
    color: var(--important);
}

.dots-menu a:hover:nth-child(2) {
    color: var(--main);

}

/* Media Query  */

@media(max-width:980px) {
    .dots {
        position: absolute;
        right: auto;
        top: 70px;
        left: 40px;
    }

    .dots-menu {
        position: absolute;
        left: 70px;
        top: 60px;
        width: 120px;
    }

    .active {
        display: flex;
    }

}

/******************************
USER
******************************/


.usercontent {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 0 var(--box-shadow);
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    color: var(--anti);
}

.userbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.userbox-title {
    font-weight: 400;
    color: var(--anti);
}

.userbox-value {
    font-weight: 300;
    background-color: var(--main);
    color: white;
    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
}
