# Dependency directories
node_modules/

# Environment variables
.env

# Config files
config.json

# Test files
test.js

# avatars folder
src/public/images/avatars/*
!src/public/images/avatars/default.jpg