{
    "def_theme": "default",
    "forum_name": "akf",
    "description": "Akf-forum!",
    "limits": {
        "title": 128,
        "message": 1024,
        "names": 25,
        "desp": 256
    },
    "global_ratelimit": {
        "enabled": true,
        "max": 25,
        "windowMs": 60000
    },
    "discord_auth": false,
    "host": "akf-forum.glitch.me"
}