{
    "def_theme": {
        "name": "white",
        "language": "en"
    },
    "forum_name": "akf",
    "description": "Akf-forum!",
    "limits": {
        "title": 128,
        "message": 1024,
        "names": 25,
        "desp": 256
    },
    "global_ratelimit": {
        "enabled": true,
        "max": 25,
        "windowMs": 60000
    },
    "discord_auth": "",
    "defaultThreadState": "OPEN",
    "email_auth": false,
    "default_user_state": "ACTIVE",
    "host": "https://akf-forum.glitch.me"
}