{
    "def_theme": {
        "codename": "bootstrap_black",
        "language": "en"
    },
    "forum_name": "akf-forum",
    "description": "Akf-forum offical site!",
    "limits": {
        "title": 128,
        "message": 1024,
        "names": 25,
        "desp": 256
    },
    "global_ratelimit": {
        "enabled": true,
        "max": 30,
        "windowMs": 60000
    },
    "discord_auth": false,
    "default_thread_state": "OPEN",
    "default_user_state": "ACTIVE",
    "email_auth": false,
    "host": "https://akf-forum.glitch.me"
}