<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "User list!" }) %>


<body style="text-align: center;">
  <%- include("extra/navbar") %>
<b>SİLME LAN İT BEN SİLECEĞİM</b>
    <h1 style="color: #4d18e6;">Welcome to the admin panel of the forum, <%= user.name %>!</h1>
    <h2 style="color: #606060;">Write an ID to give someone admin permissions:</h2>
</body> 
</html>

<!--tam olarak neresi, body içi de, sana komik bisey gostercektim kayybolmus.
veritabanı sifrem sence neydi fdsajıgdsıgasd nereden bileyim oradan müneccime mi benziyorum
neyse tamam sdapgdsjagsadp
lşösdlkşsdklsklsdkl buradan da konuşmadık demeyiz
 evet benziyorsn cogu seyi tahmin ediyorsun. buradan konusalim artik zeynep goruldu yok burada, ney yazdiysan da gdiyior gdsagdsgdsh
-->