<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "User list!" }) %>


<body style="text-align: center;">
  <%- include("extra/navbar") %>

  <h1 style="color: var(--main);"><%= type %></h1>
  <h2 style="color: var(--second);"><%= error %></h2>

</body>

</html>