<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "User list!" }) %>


<body style="text-align: center;">
  <%- include("extra/navbar") %>

  <h1 style="color: #4d18e6;"><%= type %></h1>
  <h2 style="color: #606060;"><%= error %></h2>

</body>

</html>