<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= type %></title>
  <meta name="description" content="Akf-forum has not got this page!">
  <meta name="author" content="Akif9748">
  <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

</head>


<body >

   <!-- Navbar: -->
   <a href="/"><img class="logo" src="/images/logo.jpg" alt="AKF-FORUM"></a><br>
   <button class="buyuk" 
   onclick="window.location.href = '/'">MAIN PAGE</button>
 
   <hr>

   <!-- Navbar end -->



  <h1><%= type %></h1>
  <h2><%= error %></h2>



    <!-- This website is powered by AKF-Forum -->
</body>

</html>