<!DOCTYPE html>
<html lang="en">

    <%- include("extra/header", {title: "Login page!" }) %>

<body>
    <!-- Navbar: -->
    <a href="/"><img class="logo" src="/images/logo.jpg" alt="AKF-FORUM"></a>
    <br>
    <a href="/register/"> <button class="big">REGISTER</button> </a>
    <hr>



    <h1>Login</h1>
    <hr>
    <form action="/login?redirect=<%= redirect %>" method="post">
        <input type="text" name="username" placeholder="Username" id="username" required>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <input type="submit" value="Login">
    </form>

    <%- include("extra/footer") %>
</body>

</html>
