<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <meta name="description" content="Akf-forum!">
    <meta name="author" content="Akif9748">
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

</head>


<body>
    <!-- Navbar: -->
    <a href="/"><img class="logo" src="/images/logo.jpg" alt="AKF-FORUM"></a>
    <br>
    <button class="buyuk" onclick="window.location.href = '/register'">REGISTER PAGE</button>
    <hr>



    <h1>Login</h1>
    <hr>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" id="username" required>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <input type="submit" value="Login">
    </form>

    <!-- This website is powered by AKF-Forum -->
</body>

</html>