
</html>
<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Log in!" }) %>


<body style="text-align: center;">
    <%- include("extra/navbar") %>

    <h1 style="color: #4d18e6;">Login</h1>

  <form action="/login?redirect=<%= redirect %>" method="post">
      <input type="text" name="username" placeholder="Username" id="username" required>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <input type="submit" value="Login">
  </form>

 
</body>

</html>