<!DOCTYPE html>
<html lang="en">

<%- include("extra/header", {title: "Open Thread!" }) %>

    <body>

        <%- include("extra/navbar", {user}) %>



            <form action="/threads/" method="POST">
                <h2>Title:</h2>
                <input name="title"></input>

                <hr>
                <h2>Content:</h2>
                <textarea rows="4" cols="50" name="content"></textarea>

                <hr>
                <button class="buyuk" type="submit">Create Thread!</button>
            </form>


            <%- include("extra/footer") %>
    </body>

</html>
