<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Register!" }) %>


<body style="text-align: center;">
    <%- include("extra/navbar") %>

    <h1 style="color: #4d18e6;">Register</h1>

    <form action="/register" method="post">

      
        <input type="text" name="username" placeholder="Username" id="username" required>
     
        <input type="password" name="password" placeholder="Password" id="password" required>
    
        <input type="text" name="avatar" placeholder="Avatar URL" id="avatar">

        <input type="submit" value="Register">
    </form>

 
</body>

</html>