<!DOCTYPE html>
<html lang="en">


<%- include("extra/header", {title: "Register!" }) %>

<body>


    <a href="/"><img class="logo" src="/images/logo.jpg" alt="AKF-FORUM"></a>
    <br>

    <a href="/login/"> <button class="big">LOGIN</button> </a>

    <hr>



    <h1>Register</h1>
    <hr>
    <form action="/register" method="post">

      
        <input type="text" name="username" placeholder="Username" id="username" required>
     
        <input type="password" name="password" placeholder="Password" id="password" required>
    
        <input type="text" name="avatar" placeholder="Avatar URL" id="avatar">

        <input type="submit" value="Register">
    </form>

    <%- include("extra/footer") %>
</body>

</html>