<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Register!" }) %>


<body style="text-align: center;">
  <link rel="stylesheet" href="/css/login.css" />

  <%- include("extra/navbar") %>
  <% if(discord) { %>
  <a href="<%=discord%>" class="btn-outline-primary">Login with discord</a>
  <% } %>
  <h1 class="title">Register</h1>


  <form action="/register" method="post">
    <% if (mail) { %>
    <input type="email" name="email" placeholder="Email" class="input" required>
    <% } %>
    <input type="text" name="name" placeholder="Username" class="input" required>
    <input type="password" name="password" placeholder="Password" class="input" required>
    <textarea class="input" name="about" rows="4" placeholder="About you... You can use markdown"></textarea>
    <input type="submit" class="btn-primary" style="width:100%;" value="Register">
  </form>

  <%- include("extra/footer") %>

</body>

</html>