<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Register!" }) %>

  <link rel="stylesheet" href="/css/login.css" />

<body style="text-align: center;">
    <%- include("extra/navbar") %>

    <h1 class="title">Register</h1>

    <form action="/register" method="post">

      
        <input type="text" name="username" placeholder="Username"  class="input" required>
     
        <input type="password" name="password" placeholder="Password" class="input" required>
    
        <input type="text" name="avatar" placeholder="Avatar URL" class="input">

        <input type="submit" class="btn-primary" style="width:100%;" value="Register">
    </form>

 
</body>

</html>
