<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Register!" }) %>


<body style="text-align: center;">
  <link rel="stylesheet" href="/css/login.css" />

  <%- include("extra/navbar") %>

  <h1 class="title">Register</h1>

  <form action="/register" method="post">
    <input type="text" name="username" maxlength="25" placeholder="Username" class="input" required>
    <input type="password" name="password" maxlength="25" placeholder="Password" class="input" required>
    <textarea class="input" name="about" rows="4" maxlength="256" placeholder="About you... You can use markdown"></textarea>
    <input type="submit" class="btn-primary" style="width:100%;" value="Register">
  </form>

  <%- include("extra/footer") %>

</body>

</html>