<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Search page!" }) %>


<body style="text-align: center;">
  <%- include("extra/navbar") %>

  <h1 class="title">Search</h1>

  <div class="search">
    <form action="/search/users" method="GET">
      <input type="text" class="input" name="q" placeholder="Search for users" />
      <input type="submit" class="btn-primary" value="Search" />
    </form>

    <form action="/search/messages" method="GET">
      <input type="text" class="input" name="q" placeholder="Search for messages" />
      <input type="text" class="input" name="authorID" placeholder="(Not Required) Author id" />
      <input type="submit" value="Search" class="btn-primary" />
    </form>

    <form action="/search/threads" method="GET">
      <input type="text" class="input" name="q" placeholder="Search for threads" />
      <input type="text" class="input" name="authorID" placeholder="(Not Required) Author id" />
      <input type="submit" value="Search" class="btn-primary" />
    </form>
  </div>
  <%- include("extra/footer") %>

</body>

</html>