<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Thread list!" }) %>


<body>
  <%- include("extra/navbar") %>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <link rel="stylesheet" href="/css/thread.css" />
  <% if (user){ %>
    <script type="module" src="/js/thread.js"></script>
  <% }%>

      <div style="text-align:center;padding:8px">
      <div class="title">İlk Forum</div>
      <div class="date">
        20/04/2000
      </div>
      </div>
  <div class="thread">
    <div class="left">
      <img src="https://renk.gen.tr/images/acik-mavi-renk.jpg"/>
      <div class="username">Tokmak</div>
    </div>  

    <div class="content">
    Merhaba ! Bu benim ilk yazım    Merhaba ! Bu benim ilk yazım
    Merhaba ! Bu benim ilk yazım
    Merhaba ! Bu benim ilk yazım
    Merhaba ! Bu benim ilk yazım
    Merhaba ! Bu benim ilk yazım
    Merhaba ! Bu benim ilk yazım
    Merhaba ! Bu benim ilk yazım

    </div>
    <div class="likes">
      <div>
<i class='bx bx-like'></i> 5
      </div>
      <div>
<i class='bx bx-dislike'></i> 30
      </div>
    </div>
  </div>

<div class="pagination">
  <div class="back">
    <i class='bx bxs-chevron-left'></i>
  </div>
  <div class="numbers">
  <a class="number" href="/deneme">1</a>
  <a class="number" href="/deneme">2</a>
  <a class="number" href="/deneme">3</a>
  <a class="number" href="/deneme">4</a>
  <a class="number" href="/deneme">5</a>
  <a class="number" href="/deneme">6</a>

    
  </div>
 <div class="after">
    <i class='bx bxs-chevron-right'></i>
  </div>
  
</div>
    


    
 
        <script>
          document.getElementById("message-<%= scroll %>").scrollIntoView();
        </script>

            <!-- BURAYA Bİ İLERİ BİR GERİ SAYFA BUTONU GELMEZ Mİ BE-->
</body>

</html>
