<!DOCTYPE html>
<html lang="en">

<%- include("extra/old_header", {title: "Edit user!" }) %>

    <body>

        <%- include("extra/old_navbar", {user}) %>


            <h1>This page's development is not completed yet.</h1>
            <hr>
            <!---  <form action="/userEdit/<%=  %>" method="post">

      
        <input type="text" name="username" placeholder="Username" id="username" required>
     
        <input type="password" name="password" placeholder="Password" id="password" required>
    
        <input type="text" name="avatar" placeholder="Avatar URL" id="avatar">

        <input type="submit" value="Register">
    </form>
-->
            <%- include("extra/old_footer") %>

    </body>

</html>
