.title {
  color: var(--main);
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.input {
  padding: 8px 10px;
  font-family: inherit;
  display: block;
  font-weight: 600;
  color: var(--input-clr);
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid var(--borders);
}

.CodeMirror{
  
  width: 422.5px;

}