.title {
  color: #4d18e6;
  font-weight: 700;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  width:100%;
  padding:8px;
}


.input {
  padding: 8px 10px;
  font-family: inherit;
  display: block;
  font-weight: 600;
  color: #4c4c4c;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #d9d9d9;
}
