.date {
    color: var(--second);
}

.message {
    max-width: 800px;
    box-shadow: 0 0 5px 0 var(--box-shadow);
    margin: 10px auto;
    padding: 20px;
    display: flex;
    gap: 10px;
    position: relative;
}

.message .left {
    text-align: center;
    border-right: 2px solid var(--borders);
}

.message .left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 5px;
}

.message .left .username a {
    color: var(--t-username);
}

.content {
    width: 70%;
    color: var(--reaction-hover);
}