.pagination {
    box-shadow: 0 0 5px 0 var(--box-shadow);
    margin: 10px auto;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    gap: 10px;
    position: relative;
}

.pagination .back,
.pagination .after {
    color: var(--second);
    font-size: 26px;
    cursor: pointer;
}


.pagination .numbers {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination .number {
    color: var(--second);
    font-size: 22px;
    border: 0 0 5px var(--second);
    padding: 8px;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    margin: 8px;
}

.pagination .number.active {
    color: var(--main);
    font-weight: 700;
}