:root {
  /* Apprentice Scheme */
  /*
   * use `var(--col-x)` instead of directly typing the color.
  */
  --col-0: #1C1C1C;
  --col-1: #AF5F5F;
  --col-2: #5F875F;
  --col-3: #87875F;
  --col-4: #5F87AF;
  --col-5: #5F5F87;
  --col-6: #5F8787;
  --col-7: #6C6C6C;
  --col-8: #444444;
  --col-9: #FF8700;
  --col-10: #87AF87;
  --col-11: #FFFFAF;
  --col-12: #8FAFD7;
  --col-13: #8787AF;
  --col-14: #5FAFAF;
  --col-15: #FFFFFF;
  --col-fg: #BCBCBC;
  --col-bg: #262626;
}



textarea {

  font-family: monospace;
  border: 2px solid var(--col-8);
  color: var(--col-fg);
  width: auto;
  height: auto;
  cursor: pointer;
  resize: none;
}



h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.1rem;
}



button,
input {
  font-family: monospace;
  background-color: var(--col-bg);
  border: 2px solid var(--col-8);

  color: var(--col-fg);
  width: auto;
  height: 30px;

}

button.big {
  width: 150px;
  height: 50px;
}

input {
  width: 75%;
  cursor: pointer;
  color: var(--col-fg);
}

button:hover {
  background-color: var(--col-fg);
  color: var(--col-bg);
}


/* NAVBAR: */


.user {
  margin: 0;
  border: 1px solid var(--col-8);
}

.user h1 {
  font-family: monospace;
  background: #333;
  color: var(--col-fg);
  margin: auto;
  text-align: center;
  line-height: 1;
  color: var(--col-13);
  font-size: 27px;
}

.user img {
  padding: 6px 10px;
}

.user a {
  color: var(--col-13);
  padding: 0px 5px;
}


div.message {
  border: 2px solid var(--col-8);
  margin: auto;
  padding-inline: 100;
}



/*
*****************************
           IMAGES
*****************************
*/
img.circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

img.logo {
  width: 266px;
  height: 75px;
}


/*
*****************************
         ADMIN TEXT
*****************************
*/
p {font-size: 18px;}