.title {
  color: var(--input-clr);
  font-weight: 700;
  font-size: 36px;
}

.date {
  color: var(--second);
}

.message {
  max-width: 800px;
  box-shadow: 0 0 5px 0 var(--box-shadow);
  margin: 10px auto;
  padding: 20px;
  display: flex;
  gap: 10px;
  position: relative;
}

.message .left {
  text-align: center;
  border-right: 2px solid var(--borders);
}

.message .left img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 5px;
}

.message .left .username a {
  color: var(--t-username);
}

.content {
  width: 70%;
  color: var(--reaction-hover);
}

.reactions {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.reactions div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px;
  color: var(--second);
  cursor: pointer;
  transition: color 0.3s ease;
}

.reactions div:hover {
  color: var(--reaction-hover);

}

.reactions div i {
  font-size: 22px;
}

.dots {
  position: absolute;
  right: 20px;
  font-size: 22px;
  top: 10px;
  color: var(--second);
  cursor: pointer;
}

.dots-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--btn-clr-1);
  width: 100px;
  text-align: center;
  display: none;
}

.dots-menu.active {
  display: block;
}

.dots-menu a {
  display: block;
  margin: 8px;
  cursor: pointer;
}

.dots-menu a:hover:nth-child(1) {
  color: var(--important);
}

.dots-menu a:hover:nth-child(2) {
  color: var(--main);

}

.send>textarea{
  font-family:inherit;
  width: 100%;
  margin: 10px;
  border: 2px solid #e3e3e3;
}
/* Media Query  */

@media(max-width:980px) {
  .message {
    margin: 10px 20px;
    max-width: 100%;
    flex-direction: column;
    position: relative;
  }

  .message .left {
    padding: 40px;
    border: none;
    border-bottom: 2px solid var(--borders);

  }

  .message .left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .message .left .username {
    position: absolute;
    top: 20px;
    left: 80px;
  }

  .message .date:nth-of-type(3) {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .message .date:nth-of-type(2) {
    position: absolute;
    right: 20px;
    top: 40px;
  }

  .dots {
    position: absolute;
    right: auto;
    top: 70px;
    left: 40px;
  }

  .dots-menu {
    position: absolute;
    left: 70px;
    top: 60px;
    width: 120px;
  }

  .dots-menu.active {
    display: flex;
  }

  .content {
    width: 50%;
  }

}