.threads {
  width: 100%;
  padding: 20px;
}

.threads-box {
  width: 100%;
  padding: 8px;
  box-shadow: 0 0 5px 0 var(--box-shadow);
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 8px 0px;
  cursor: pointer;
  align-items: center;
}

.threads-box:hover {
  background-color: var(--box-shadow);
}

.thread-box-title {
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--reaction-hover);

}

.thread-box-title>span {
  color: var(--important);
}


@media (max-width: 480px) {
  .threads-box {
    flex-direction: column;
  }
}