.title {
  color: var(--main);
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 var(--box-shadow);
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.box-title{
  color: var(--main);
  font-weight: 300;
}
.box-value {
  color: var(--second);
  font-weight: 300;
}