.title {
  color: #4d18e6;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 #bebebe;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.box-title,
.box-value {
  color: #606060;
  font-weight: 300;
}