.title {
  color: var(--main);
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 var(--box-shadow);
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.box-title{
  font-weight: 400;
}
.box-value {
font-weight: 300;
background-color: var(--main);
color: white;
font-size: 14px;
padding: 4px;
border-radius: 5px;
min-width: 50px;
text-align: center;
}


