<footer class="p-footer" id="footer">
    <div class="p-footer-inner">
      <div class="p-footer-row">
        <div class="p-footer-row-main">
          <ul class="p-footer-linkList">
            <li>
              
              <% if (user){ %>
                <select id="theme_select">
                  <% for(const theme of dataset.themes){%>
                  <option value="<%= theme.codename %>"><%= theme.name %></option>
                  <% } %>
                </select>
                <script>
                  const theme_select = document.getElementById("theme_select");
                  theme_select.querySelector(`option[value=<%= user.theme.codename %>]`).selected = true;
                  theme_select.addEventListener("change", async e => {
                    const codename = e.target.value;
                    await fetch('/api/users/<%= user.id %>', {
                      method: 'PATCH',
                      body: JSON.stringify({
                        theme: {
                          codename
                        }
                      }),
                      headers: {
                        "Content-Type": "application/json"
                      }
                    });
                    const theme = await fetch("/api/themes/" + codename).then(res => res.json());
                    const txt = "Theme changed to:\n" +
                      "Name: " + theme.name + "\n" +
                      "Description: " + theme.description + "\n" +
                      "Author: " + theme.author + "\n";
                    alert(txt)
                    location.reload();
                  });
                </script>
                <% } %>
            </li>
          </ul>
        </div>
        <div class="p-footer-row-opposite">
          <ul class="p-footer-linkList">
            <li><a href="/">Ana sayfa</a></li>
          </ul>
        </div>
      </div>
      <div class="p-footer-copyright">
        Xenforo theme created <a href="https://xenforo.com" class="u-concealed" dir="ltr" target="_blank" rel="sponsored noopener">by XenForo<sup>&reg;</sup> </a>
        and <a href="https://github.com/Akif9748"> edited by Akif9748</a>
        <br>This website is powered by <a class="text-white" href="https://github.com/Akif9748/akf-forum">akf-forum</a>
      </div>
    </div>
  </footer>



  <footer class="text-center text-white fixed-bottom">
  
    <div class="text-center p-3">

    </div>
  </footer>  