<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title || dataset.forum_name %></title>
  <meta name="description" content="<%= dataset.description %>">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="/themes/bootstrap_black/bootstrap-night.min.css" rel="stylesheet">
  <script src="/themes/bootstrap_black/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/themes/bootstrap_black/main.css" />
</head>