<div class="footer">
  <select>    
    <option value="default">Default theme</option>
    <option value="black">Black theme</option>
  </select>
  <a href="https://github.com/Akif9748/akf-forum" style="color: white;"> This website is powered by
    <span style="color: #ffbf00;">akf-forum </span> </a>
  <div>

    <span style="color:white">Coders</span> <br>
    <div style="text-align:center;">
      By <a href="https://github.com/Akif9748/" style="color: #ffbf00;">Akif</a> <br> By <a href="#" style="color:#ffbf00;">Tokmak</a>
    </div>
  </div>
</div>