<style>
  .footer {
    width: 100%;
    background-color: #f5f5f5;
    color: var(--second);
    text-align: center;
  }
</style>
<br>
<div class="footer">
  <a href="https://github.com/Akif9748/akf-forum"> This website is powered by AKF-Forum </a>
</div>