<style>
 select{
  background: #ebebeb;
  border: white;
  padding: 8px 20px;
  font-size: 16px;
  font-family: inherit;
}
select option{
  font-family: inherit;
  width:290px;
}
  .footer {
    width: 100%;
    background-color: var(--main);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

</style>
<div class="footer">
  <select style="">
    <option value="tr">TR</option>
        <option value="eng">ENG</option>
  </select>
<a href="https://github.com/Akif9748/akf-forum" style="color: white;"> This website is powered by 
  <span style="color: #ffbf00;">AKF-Forum </span> </a><div>
  
  <span style="color:white">Coders</span> <br> 
  <div style="text-align:center;">
  By <a href="https://github.com/Akif9748/" style="color: #ffbf00;">Akf</a> <br> By <a href="#" style="color:#ffbf00;">Tokmak</a>
  </div>
  </div>


</div>
