<!-- Navbar: -->


<% if (user?.admin){ %>
    <div class="admin">
        <a class="admin" href="/admin"><p>You are admin, and you can go your page!</p></a>
    </div>
    <hr>

<% } %>

<a href="/"><img class="logo" src="/images/logo.jpg" alt="AKF-FORUM"></a>

<div class="navbar" id="navbar">

    <a href="/threads">THREADS</a>
    <a href="/users">USERS</a>
    <a href="/search">SEARCH</a>
    <a href="/threads/create/">CREATE THREAD</a>

    <% if (user){ %>
        <div style="float: right;" class="user" id="user">
            <a href=<%=user.getLink() %>>
                <h1>
                    <%= user.name %><img class="yuvarlak" src=<%=user.avatar %> alt=<%= user.name %>>
                </h1>
            </a>
        </div>
    
        <% } else { %>
            <a style="float: right; background-color: #5F875F;" href="/register">REGISTER</a>
            <a  id="login" style="float: right; background-color:#5F87AF; " href="/login">LOGIN</a>
            <script>
                document.getElementById("login").href += "?redirect="+window.location.pathname
            </script>


         <% } %> 
    
 

</div>



<hr>

<!-- Navbar end -->
