/* akf-forum default theme config file */

:root {
    --main: #4d18e6;
    --btn-clr-1: #e8e8e8;
    --menu-item: #ffffff;
    --borders: #d9d9d9;
    --input-clr: #414141;
    --box-shadow: #c3c3c3;
    --second: #747474;
    --anti: #151515;
    --t-username: #555;
    --important: red;
    background-color: #ffffff;
}