<!DOCTYPE html>
<html id="XF" lang="tr-TR" dir="LTR" data-app="public" data-template="forum_list" data-container-key data-content-key data-logged-in="true" data-cookie-prefix="xf_" data-csrf="1685091272,f052c88e4c4aa12fbe73a08e269625fa" class="has-no-js v_2_0 template-forum_list">
<%- include("extra/meta", {title: "Welcome to the "+dataset.forum_name+"-forum!" }) %>

<body data-template="forum_list">
  <div class="p-pageWrapper" id="top">


    <%- include(dataset.getFile(dataset.theme.codename +"/views/extra/navbar")) %>

    <div class="p-body">
      <div class="p-body-inner">
        <div class="p-body-header">
          <div class="p-title ">
            <h1 class="p-title-value">Hay aksi! Bir sorun yaşıyoruz.</h1>
          </div>
        </div>
        <div class="p-body-main  ">
          <div class="p-body-contentCol"></div>
          <div class="p-body-content">
            <div class="p-body-pageContent">
              <div class="blockMessage">
                İstenen sayfa bulunamadı.
              </div>
            </div>
          </div>
        </div>
        <ul class="p-breadcrumbs p-breadcrumbs--bottom" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="https://makale.silicone-forum.com" itemprop="item">
              <span itemprop="name">Ana sayfa</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
        </ul>
      </div>
    </div>
    <%- include(dataset.getFile(dataset.theme.codename +"/views/extra/footer")) %>

  </div>

  <div class="u-scrollButtons js-scrollButtons" data-trigger-type="up">
    <a href="#top" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-up" aria-hidden="true"></i><span class="u-srOnly">Top</span></span></a>
  </div>
</body>

</html>