<!DOCTYPE html>
<html id="XF" lang="tr-TR" dir="LTR" data-app="public" data-template="forum_list" data-container-key data-content-key data-logged-in="true" data-cookie-prefix="xf_" data-csrf="1685091272,f052c88e4c4aa12fbe73a08e269625fa" class="has-no-js v_2_0 template-forum_list">
<%- include("extra/meta", {title: "Welcome to the "+dataset.forum_name+"-forum!" }) %>

<body data-template="forum_list">
  <div class="p-pageWrapper" id="top">


    <%- include(dataset.getFile(dataset.theme.codename +"/views/extra/navbar")) %>

    <div class="p-body">
      <div class="p-body-inner">
        <div class="p-body-pageContent">
          <div class="block block--messages" data-xf-init="" data-type="post" data-href="/sosyal/sirali-mod/" data-search-target="*">
            <span class="u-anchorTarget" id="posts"></span>
            <div class="block-outer">
              <div class="block-outer-opposite">
                <div class="buttonGroup">
                  <a href="/sosyal/tic-ignore/ignore?content_type=thread&amp;content_id=2576435" class="tic--button button button--link" data-sk-ignore="Göz ardı et" data-sk-unignore="Görünür Yap" data-xf-click="">Konuyu göz ardı et</a>

                  <a href="#post-20241988" class="button--link button" data-xf-click="scroll-to" data-silent="true"><span class="button-text">
                      En yeni mesaja git
                    </span></a>
                  <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/watch" class="button--link button" data-xf-click="switch-overlay" data-sk-watch="Takip et" data-sk-unwatch="Takip etmeyi bırak"><span class="button-text">
                      Takip et
                    </span></a>
                  <div class="buttonGroup-buttonWrapper">
                    <button type="button" class="button--link menuTrigger button" data-xf-click="menu" aria-expanded="false" aria-haspopup="true" title="Ayrıntılı düzenleme"><span class="button-text">•••</span></button>
                    <div class="menu" data-menu="menu" aria-hidden="true">
                      <div class="menu-content">
                        <h4 class="menu-header">Ayrıntılı düzenleme</h4>
                        <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/who-replied/" data-xf-click="overlay" class="menu-linkRow">Kim cevapladı?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="block-outer js-threadStatusField"></div>
            <div class="block-container lbContainer" data-xf-init="lightbox select-to-quote" data-message-selector=".js-post" data-lb-id="thread-2576435" data-lb-universal="1">
              <div class="block-body js-replyNewMessageContainer">
                <article class="message message--post js-post js-inlineModContainer   is-unread" data-author="Knot_8946" data-content="post-20241988" id="js-post-20241988">
                  <span class="u-anchorTarget" id="post-20241988"></span>
                  <div class="message-inner">
                    <div class="message-cell message-cell--user" style="">
                      <section class="message-user">
                        <div class="message-avatar message-avatar--online">
                          <div class="message-avatar-wrapper">
                            <a href="/sosyal/uye/knot_8946.443648/" class="avatar avatar--m" data-user-id="443648" data-xf-init="member-tooltip" id="js-XFUniqueId4">
                              <img data-cfsrc="https://www.technopat.net/sosyal/data/avatars/m/443/443648.jpg?1685052339" alt="Knot_8946" class="avatar-u443648-m" width="96" height="96" loading="lazy" src="https://www.technopat.net/sosyal/data/avatars/m/443/443648.jpg?1685052339">
                            </a>
                            <span class="message-avatar-online" tabindex="0" data-xf-init="tooltip" data-trigger="auto" data-original-title="Çevrimiçi" id="js-XFUniqueId5"></span>
                          </div>
                        </div>
                        <div class="message-userDetails">
                          <h4 class="message-name"><a href="/sosyal/uye/knot_8946.443648/" class="username " dir="auto" data-user-id="443648" data-xf-init="member-tooltip" id="js-XFUniqueId6">Knot_8946</a></h4>
                          <h5 class="userTitle message-userTitle" dir="auto">Decapat</h5>
                        </div>
                        <div class="message-userExtras">
                          <dl class="pairs pairs--justified">
                            <dt>Katılım</dt>
                            <dd>30 Mart 2021</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Mesajlar</dt>
                            <dd>159</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Çözümler</dt>
                            <dd>2</dd>
                          </dl>
                          <dl class="pairs pairs--justified pairs--noColon">
                            <dt class="iconspart">
                              <img class="win81" data-cfstyle="vertical-align:middle;" data-cfsrc="https://www.technopat.net/sosyal/data/osbrowser/clear.png" height="16" width="16" data-xf-init="tooltip" data-trigger="auto" style="vertical-align:middle;" src="https://www.technopat.net/sosyal/data/osbrowser/clear.png" data-original-title="Windows 10" id="js-XFUniqueId7">
                              <img class="chrome" data-cfstyle="vertical-align:middle;" data-cfsrc="https://www.technopat.net/sosyal/data/osbrowser/clear.png" height="16" width="16" data-xf-init="tooltip" data-trigger="auto" style="vertical-align:middle;" src="https://www.technopat.net/sosyal/data/osbrowser/clear.png" data-original-title="Chrome 113.0.0.0" id="js-XFUniqueId8">
                            </dt>
                            <dd style="width:0;"></dd>
                          </dl>
                        </div>
                        <div class="message-userExtras-popup">
                          <div class="js-profilefieldspopup profilefieldspopup_text" style="float:left;"><span class="profilefieldspopup_link" data-xf-init="profilefieldspopup" data-shortcut="profilefieldscontent" id="js-XFUniqueId9">Daha fazla&nbsp;<i class="fa fa-caret-down fa-lg"></i>&nbsp;</span>
                            <div class="profilefieldscontent profilefieldscontent--tooltip js-profilefieldspopuptext">
                              <dl class="pairs pairs--justified--popup" data-field="gender">
                                <dt>Cinsiyet</dt>
                                <dd>Erkek</dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                        <span class="message-userArrow"></span>
                      </section>
                    </div>
                    <div class="message-cell message-cell--main">
                      <div class="message-main js-quickEditTarget">
                        <header class="message-attribution message-attribution--split">
                          <ul class="message-attribution-main listInline ">
                            <li class="u-concealed">
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20241988" rel="nofollow">
                                <time class="u-dt" dir="auto" datetime="2023-05-26T17:44:03+0300" data-time="1685112243" data-date-string="26 Mayıs 2023" data-time-string="17:44" title="26 Mayıs 2023 17:44" itemprop="datePublished">6 dakika önce</time>
                              </a>
                            </li>
                            <li class="u-concealed">
                            </li>
                          </ul>
                          <ul class="message-attribution-opposite message-attribution-opposite--list ">
                            <li><span class="message-newIndicator">Yeni</span></li>
                            <li>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20241988" class="message-attribution-gadget" data-xf-init="share-tooltip" data-href="/sosyal/mesaj/20241988/share" aria-label="Paylaş" rel="nofollow">
                                <i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a href="/sosyal/mesaj/20241988/bookmark" class="bookmarkLink message-attribution-gadget bookmarkLink--highlightable " title="Yer işareti ekle" data-xf-click="bookmark-click" data-label=".js-bookmarkText" data-sk-bookmarked="addClass:is-bookmarked, titleAttr:sync" data-sk-bookmarkremoved="removeClass:is-bookmarked, titleAttr:sync"><span class="js-bookmarkText u-srOnly">Yer işareti ekle</span></a>
                            </li>
                            <li>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20241988" rel="nofollow">
                                #1
                              </a>
                            </li>
                          </ul>
                        </header>
                        <div class="message-content js-messageContent">
                          <div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-20241988" data-lb-caption-desc="Knot_8946 · 26 Mayıs 2023 17:44">
                            <article class="message-body js-selectToQuote">
                              <div>
                                <div class="bbWrapper">Discord 2FA'yı kapatırsam aktif geliştirici rozeti gider mi?<br>
                                  <br>
                                  Şimdiden teşekkürler.
                                </div>
                              </div>
                              <div class="js-selectToQuoteEnd">&nbsp;</div>
                            </article>
                          </div>
                        </div>
                        <footer class="message-footer">
                          <div class="message-actionBar actionBar">
                            <div class="actionBar-set actionBar-set--external" style="">
                              <a href="/sosyal/mesaj/20241988/react?reaction_id=1" class="reaction reaction--small actionBar-action actionBar-action--reaction reaction--imageHidden reaction--1" data-reaction-id="1" data-xf-init="reaction" data-reaction-list="< .js-post | .js-reactionsList" id="js-XFUniqueId10"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Beğen" title="Beğen"> <span class="reaction-text js-reactionText"><bdi>Beğen</bdi></span></a>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/reply?quote=20241988" class="actionBar-action actionBar-action--mq u-jsOnly js-multiQuote" title="Çoklu alıntıya ekle" rel="nofollow" data-message-id="20241988" data-mq-action="add">Alıntıla</a>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/reply?quote=20241988" class="actionBar-action actionBar-action--reply" title="Mesajı alıntılayarak cevapla" rel="nofollow" data-xf-click="quote" data-quote-href="/sosyal/mesaj/20241988/quote">
                                Cevapla
                              </a>
                              <a href="javascript:void(0)" class="actionBar-action 
                                      
                                        actionBar-action--replynoquote 															   
                                                                                                   
                                      replynoquote" title="@etiket ile cevapla" data-username="Knot_8946">
                                Etiketle
                              </a>
                            </div>
                            <div class="actionBar-set actionBar-set--internal">
                              <a href="/sosyal/mesaj/20241988/report" class="actionBar-action actionBar-action--report" data-xf-click="overlay">Rapor</a>
                            </div>
                          </div>
                          <div class="reactionsBar js-reactionsList ">
                          </div>
                          <div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
                        </footer>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="message message--post js-post js-inlineModContainer   is-unread" data-author="cumali_032" data-content="post-20242030" id="js-post-20242030" itemscope="" itemtype="https://schema.org/Comment" itemid="https://www.technopat.net/sosyal/mesaj/20242030/">
                  <meta itemprop="mainEntity" itemscope="" itemtype="https://schema.org/DiscussionForumPosting" itemid="https://www.technopat.net/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/">
                  <span class="u-anchorTarget" id="post-20242030"></span>
                  <div class="message-inner">
                    <div class="message-cell message-cell--user" style="">
                      <section class="message-user" itemprop="author" itemscope="" itemtype="https://schema.org/Person" itemid="https://www.technopat.net/sosyal/uye/cumali_032.306331/">
                        <meta itemprop="url" content="https://www.technopat.net/sosyal/uye/cumali_032.306331/">
                        <div class="message-avatar message-avatar--online">
                          <div class="message-avatar-wrapper">
                            <a href="/sosyal/uye/cumali_032.306331/" class="avatar avatar--m" data-user-id="306331" data-xf-init="member-tooltip" id="js-XFUniqueId11">
                              <img data-cfsrc="https://www.technopat.net/sosyal/data/avatars/m/306/306331.jpg?1644584841" srcset="https://www.technopat.net/sosyal/data/avatars/l/306/306331.jpg?1644584841 2x" alt="cumali_032" class="avatar-u306331-m" width="96" height="96" loading="lazy" itemprop="image" src="https://www.technopat.net/sosyal/data/avatars/m/306/306331.jpg?1644584841">
                            </a>
                            <span class="message-avatar-online" tabindex="0" data-xf-init="tooltip" data-trigger="auto" data-original-title="Çevrimiçi" id="js-XFUniqueId12"></span>
                          </div>
                        </div>
                        <div class="message-userDetails">
                          <h4 class="message-name"><a href="/sosyal/uye/cumali_032.306331/" class="username " dir="auto" data-user-id="306331" data-xf-init="member-tooltip" id="js-XFUniqueId13"><span itemprop="name">cumali_032</span></a></h4>
                          <h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">Kilopat</h5>
                        </div>
                        <div class="message-userExtras">
                          <dl class="pairs pairs--justified">
                            <dt>Katılım</dt>
                            <dd>28 Şubat 2020</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Mesajlar</dt>
                            <dd>6.571</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Makaleler</dt>
                            <dd>3</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Çözümler</dt>
                            <dd>60</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Yer</dt>
                            <dd>
                              <a href="/sosyal/cesitli/location-info?location=Adana" rel="nofollow noreferrer" target="_blank" class="u-concealed">Adana</a>
                            </dd>
                          </dl>
                          <dl class="pairs pairs--justified pairs--noColon">
                            <dt class="iconspart">
                              <img class="win81" data-cfstyle="vertical-align:middle;" data-cfsrc="https://www.technopat.net/sosyal/data/osbrowser/clear.png" height="16" width="16" data-xf-init="tooltip" data-trigger="auto" style="vertical-align:middle;" src="https://www.technopat.net/sosyal/data/osbrowser/clear.png" data-original-title="Windows 10" id="js-XFUniqueId14">
                              <img class="chrome" data-cfstyle="vertical-align:middle;" data-cfsrc="https://www.technopat.net/sosyal/data/osbrowser/clear.png" height="16" width="16" data-xf-init="tooltip" data-trigger="auto" style="vertical-align:middle;" src="https://www.technopat.net/sosyal/data/osbrowser/clear.png" data-original-title="Chrome 113.0.0.0" id="js-XFUniqueId15">
                            </dt>
                            <dd style="width:0;"></dd>
                          </dl>
                        </div>
                        <div class="message-userExtras-popup">
                          <div class="js-profilefieldspopup profilefieldspopup_text" style="float:left;"><span class="profilefieldspopup_link" data-xf-init="profilefieldspopup" data-shortcut="profilefieldscontent" id="js-XFUniqueId16">Daha fazla&nbsp;<i class="fa fa-caret-down fa-lg"></i>&nbsp;</span>
                            <div class="profilefieldscontent profilefieldscontent--tooltip js-profilefieldspopuptext">
                              <dl class="pairs pairs--justified--popup" data-field="gender">
                                <dt>Cinsiyet</dt>
                                <dd>Erkek</dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                        <span class="message-userArrow"></span>
                      </section>
                    </div>
                    <div class="message-cell message-cell--main">
                      <div class="message-main js-quickEditTarget">
                        <header class="message-attribution message-attribution--split">
                          <ul class="message-attribution-main listInline ">
                            <li class="u-concealed">
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20242030" rel="nofollow">
                                <time class="u-dt" dir="auto" datetime="2023-05-26T17:46:46+0300" data-time="1685112406" data-date-string="26 Mayıs 2023" data-time-string="17:46" title="26 Mayıs 2023 17:46" itemprop="datePublished">3 dakika önce</time>
                              </a>
                            </li>
                            <li class="u-concealed">
                            </li>
                          </ul>
                          <ul class="message-attribution-opposite message-attribution-opposite--list ">
                            <li><span class="message-newIndicator">Yeni</span></li>
                            <li>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20242030" class="message-attribution-gadget" data-xf-init="share-tooltip" data-href="/sosyal/mesaj/20242030/share" aria-label="Paylaş" rel="nofollow">
                                <i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a href="/sosyal/mesaj/20242030/bookmark" class="bookmarkLink message-attribution-gadget bookmarkLink--highlightable " title="Yer işareti ekle" data-xf-click="bookmark-click" data-label=".js-bookmarkText" data-sk-bookmarked="addClass:is-bookmarked, titleAttr:sync" data-sk-bookmarkremoved="removeClass:is-bookmarked, titleAttr:sync"><span class="js-bookmarkText u-srOnly">Yer işareti ekle</span></a>
                            </li>
                            <li>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20242030" rel="nofollow">
                                #2
                              </a>
                            </li>
                          </ul>
                        </header>
                        <div class="message-content js-messageContent">
                          <div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-20242030" data-lb-caption-desc="cumali_032 · 26 Mayıs 2023 17:46">
                            <article class="message-body js-selectToQuote">
                              <div itemprop="text">
                                <div class="bbWrapper">Hayır gitmez, rica ederim.</div>
                              </div>
                              <div class="js-selectToQuoteEnd">&nbsp;</div>
                            </article>
                          </div>
                          <aside class="message-signature">
                            <div class="js-userSignature-306331">
                              <div class="bbWrapper">AMD Ryzen 5 5600 | ID COOLING SE-214-XT ARGB | Sapphire RX 6600 | Gigabyte B450M S2H V2 | HyperX Fury 8x2 3200Mhz 16GB RAM | Zalman ZM600LXII | Dark Diamond Pro Mesh Case |Razer Viper Mini | Reddragon K512 Shiva | HyperX Cloud 2 - Apacer AS340 120GB SSD | Seagate Barracuda 1TB<br>
                                Gamepower GP400 RGB Mousepad Samsung Galaxy S20 FE Snapdragon 128GB + Samsung Galaxy S9+ 64GB</div>
                            </div>
                            <a href="/sosyal/uye/cumali_032.306331/ignore-signature" data-xf-click="signature-ignore" data-container=".js-userSignature-306331" data-label=".js-userSignatureLabel-306331" data-usi-ignore="addClass:u-hidden" data-usi-unignore="removeClass:u-hidden">
                              <span class="js-userSignatureLabel-306331">
                                Kullanıcının imzasını gizle
                              </span>
                            </a>
                          </aside>
                        </div>
                        <footer class="message-footer">
                          <div class="message-actionBar actionBar">
                            <div class="actionBar-set actionBar-set--external" style="">
                              <a href="/sosyal/mesaj/20242030/react?reaction_id=1" class="reaction reaction--small actionBar-action actionBar-action--reaction reaction--imageHidden reaction--1" data-reaction-id="1" data-xf-init="reaction" data-reaction-list="< .js-post | .js-reactionsList" id="js-XFUniqueId17"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Beğen" title="Beğen"> <span class="reaction-text js-reactionText"><bdi>Beğen</bdi></span></a>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/reply?quote=20242030" class="actionBar-action actionBar-action--mq u-jsOnly js-multiQuote" title="Çoklu alıntıya ekle" rel="nofollow" data-message-id="20242030" data-mq-action="add">Alıntıla</a>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/reply?quote=20242030" class="actionBar-action actionBar-action--reply" title="Mesajı alıntılayarak cevapla" rel="nofollow" data-xf-click="quote" data-quote-href="/sosyal/mesaj/20242030/quote">
                                Cevapla
                              </a>
                              <a href="javascript:void(0)" class="actionBar-action 
                                      
                                        actionBar-action--replynoquote 															   
                                                                                                   
                                      replynoquote" title="@etiket ile cevapla" data-username="cumali_032">
                                Etiketle
                              </a>
                            </div>
                            <div class="actionBar-set actionBar-set--internal">
                              <a href="/sosyal/mesaj/20242030/report" class="actionBar-action actionBar-action--report" data-xf-click="overlay">Rapor</a>
                            </div>
                          </div>
                          <div class="reactionsBar js-reactionsList ">
                          </div>
                          <div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
                        </footer>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="message message--post js-post js-inlineModContainer   is-unread" data-author="Umut Nas" data-content="post-20242031" id="js-post-20242031" itemscope="" itemtype="https://schema.org/Comment" itemid="https://www.technopat.net/sosyal/mesaj/20242031/">
                  <meta itemprop="mainEntity" itemscope="" itemtype="https://schema.org/DiscussionForumPosting" itemid="https://www.technopat.net/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/">
                  <span class="u-anchorTarget" id="post-20242031"></span>
                  <div class="message-inner">
                    <div class="message-cell message-cell--user" style="">
                      <section class="message-user" itemprop="author" itemscope="" itemtype="https://schema.org/Person" itemid="https://www.technopat.net/sosyal/uye/umut-nas.435790/">
                        <meta itemprop="url" content="https://www.technopat.net/sosyal/uye/umut-nas.435790/">
                        <div class="message-avatar message-avatar--online">
                          <div class="message-avatar-wrapper">
                            <a href="/sosyal/uye/umut-nas.435790/" class="avatar avatar--m" data-user-id="435790" data-xf-init="member-tooltip" id="js-XFUniqueId18">
                              <img data-cfsrc="https://www.technopat.net/sosyal/data/avatars/m/435/435790.jpg?1662762423" srcset="https://www.technopat.net/sosyal/data/avatars/l/435/435790.jpg?1662762423 2x" alt="Umut Nas" class="avatar-u435790-m" width="96" height="96" loading="lazy" itemprop="image" src="https://www.technopat.net/sosyal/data/avatars/m/435/435790.jpg?1662762423">
                            </a>
                            <span class="message-avatar-online" tabindex="0" data-xf-init="tooltip" data-trigger="auto" data-original-title="Çevrimiçi" id="js-XFUniqueId19"></span>
                          </div>
                        </div>
                        <div class="message-userDetails">
                          <h4 class="message-name"><a href="/sosyal/uye/umut-nas.435790/" class="username " dir="auto" data-user-id="435790" data-xf-init="member-tooltip" id="js-XFUniqueId20"><span itemprop="name">Umut Nas</span></a></h4>
                          <h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">Gigapat</h5>
                          <div class="featuredBadges featuredBadges--message">
                            <a href="/sosyal/uye/umut-nas.435790/#badges" class="featuredBadge" data-xf-init="tooltip" data-original-title="Cep Doktoru" id="js-XFUniqueId21">
                              <i class="mdi mdi-devices badgeIcon badgeIcon--mdi badgeIcon-context--featured-message"></i>
                            </a>
                            <a href="/sosyal/uye/umut-nas.435790/#badges" class="featuredBadge" data-xf-init="tooltip" data-original-title="İlk 5 Haneli Mesajınız!" id="js-XFUniqueId22">
                              <i class="mdi mdi-message-processing badgeIcon badgeIcon--mdi badgeIcon-context--featured-message"></i>
                            </a>
                          </div>
                        </div>
                        <div class="message-userExtras">
                          <dl class="pairs pairs--justified">
                            <dt>Katılım</dt>
                            <dd>1 Aralık 2020</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Mesajlar</dt>
                            <dd>13.754</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Makaleler</dt>
                            <dd>40</dd>
                          </dl>
                          <dl class="pairs pairs--justified">
                            <dt>Çözümler</dt>
                            <dd>323</dd>
                          </dl>
                          <dl class="pairs pairs--justified pairs--noColon">
                            <dt class="iconspart">
                              <img class="macosx" data-cfstyle="vertical-align:middle;" data-cfsrc="https://www.technopat.net/sosyal/data/osbrowser/clear.png" height="16" width="16" data-xf-init="tooltip" data-trigger="auto" style="vertical-align:middle;" src="https://www.technopat.net/sosyal/data/osbrowser/clear.png" data-original-title="OS X" id="js-XFUniqueId23">
                              <img class="safari" data-cfstyle="vertical-align:middle;" data-cfsrc="https://www.technopat.net/sosyal/data/osbrowser/clear.png" height="16" width="16" data-xf-init="tooltip" data-trigger="auto" style="vertical-align:middle;" src="https://www.technopat.net/sosyal/data/osbrowser/clear.png" data-original-title="Safari 14.1.2" id="js-XFUniqueId24">
                            </dt>
                            <dd style="width:0;"></dd>
                          </dl>
                        </div>
                        <div class="message-userExtras-popup">
                          <div class="js-profilefieldspopup profilefieldspopup_text" style="float:left;"><span class="profilefieldspopup_link" data-xf-init="profilefieldspopup" data-shortcut="profilefieldscontent" id="js-XFUniqueId25">Daha fazla&nbsp;<i class="fa fa-caret-down fa-lg"></i>&nbsp;</span>
                            <div class="profilefieldscontent profilefieldscontent--tooltip js-profilefieldspopuptext">
                              <dl class="pairs pairs--justified--popup" data-field="gender">
                                <dt>Cinsiyet</dt>
                                <dd>Erkek</dd>
                              </dl>
                              <dl class="pairs pairs--justified--popup" data-field="occupation">
                                <dt>Meslek</dt>
                                <dd>Öğrenci</dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                        <span class="message-userArrow"></span>
                      </section>
                    </div>
                    <div class="message-cell message-cell--main">
                      <div class="message-main js-quickEditTarget">
                        <header class="message-attribution message-attribution--split">
                          <ul class="message-attribution-main listInline ">
                            <li class="u-concealed">
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20242031" rel="nofollow">
                                <time class="u-dt" dir="auto" datetime="2023-05-26T17:46:46+0300" data-time="1685112406" data-date-string="26 Mayıs 2023" data-time-string="17:46" title="26 Mayıs 2023 17:46" itemprop="datePublished">3 dakika önce</time>
                              </a>
                            </li>
                            <li class="u-concealed">
                            </li>
                          </ul>
                          <ul class="message-attribution-opposite message-attribution-opposite--list ">
                            <li><span class="message-newIndicator">Yeni</span></li>
                            <li>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20242031" class="message-attribution-gadget" data-xf-init="share-tooltip" data-href="/sosyal/mesaj/20242031/share" aria-label="Paylaş" rel="nofollow">
                                <i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a href="/sosyal/mesaj/20242031/bookmark" class="bookmarkLink message-attribution-gadget bookmarkLink--highlightable " title="Yer işareti ekle" data-xf-click="bookmark-click" data-label=".js-bookmarkText" data-sk-bookmarked="addClass:is-bookmarked, titleAttr:sync" data-sk-bookmarkremoved="removeClass:is-bookmarked, titleAttr:sync"><span class="js-bookmarkText u-srOnly">Yer işareti ekle</span></a>
                            </li>
                            <li>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/post-20242031" rel="nofollow">
                                #3
                              </a>
                            </li>
                          </ul>
                        </header>
                        <div class="message-content js-messageContent">
                          <div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-20242031" data-lb-caption-desc="Umut Nas · 26 Mayıs 2023 17:46">
                            <article class="message-body js-selectToQuote">
                              <div itemprop="text">
                                <div class="bbWrapper">Hayir, gitmiyor. Kendim denedim.</div>
                              </div>
                              <div class="js-selectToQuoteEnd">&nbsp;</div>
                            </article>
                          </div>
                        </div>
                        <footer class="message-footer">
                          <div class="message-actionBar actionBar">
                            <div class="actionBar-set actionBar-set--external" style="">
                              <a href="/sosyal/mesaj/20242031/react?reaction_id=1" class="reaction reaction--small actionBar-action actionBar-action--reaction reaction--imageHidden reaction--1" data-reaction-id="1" data-xf-init="reaction" data-reaction-list="< .js-post | .js-reactionsList" id="js-XFUniqueId26"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Beğen" title="Beğen"> <span class="reaction-text js-reactionText"><bdi>Beğen</bdi></span></a>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/reply?quote=20242031" class="actionBar-action actionBar-action--mq u-jsOnly js-multiQuote" title="Çoklu alıntıya ekle" rel="nofollow" data-message-id="20242031" data-mq-action="add">Alıntıla</a>
                              <a href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/reply?quote=20242031" class="actionBar-action actionBar-action--reply" title="Mesajı alıntılayarak cevapla" rel="nofollow" data-xf-click="quote" data-quote-href="/sosyal/mesaj/20242031/quote">
                                Cevapla
                              </a>
                              <a href="javascript:void(0)" class="actionBar-action 
                                      
                                        actionBar-action--replynoquote 															   
                                                                                                   
                                      replynoquote" title="@etiket ile cevapla" data-username="Umut Nas">
                                Etiketle
                              </a>
                            </div>
                            <div class="actionBar-set actionBar-set--internal">
                              <a href="/sosyal/mesaj/20242031/report" class="actionBar-action actionBar-action--report" data-xf-click="overlay">Rapor</a>
                            </div>
                          </div>
                          <div class="reactionsBar js-reactionsList is-active">
                            <ul class="reactionSummary">
                              <li><span class="reaction reaction--small reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Beğen" title="Beğen"></span></li>
                            </ul>
                            <span class="u-srOnly">İfadeler:</span>
                            <a class="reactionsBar-link" href="/sosyal/mesaj/20242031/reactions" data-xf-click="overlay" data-cache="false" rel="nofollow"><bdi>Knot_8946</bdi></a>
                          </div>
                          <div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
                        </footer>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="block-outer block-outer--after">
              <div class="block-outer-opposite"><a href="javascript:" class="showIgnoredLink is-hidden js-showIgnored" data-xf-init="tooltip" data-original-title="{{names}} ait kullanıcı(ların) içeriğini göster" id="js-XFUniqueId27">Göz Ardı Edilen İçeriği Göster</a></div>
            </div>
          </div>
          <form action="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/add-reply" method="post" class="block js-quickReply" data-xf-init="attachment-manager quick-reply ajax-submit draft" data-draft-url="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/draft" data-draft-autosave="60" data-captcha-context="xf_guest_thread_quick_reply" data-message-container="div[data-type='post'] .js-replyNewMessageContainer">
            <input type="hidden" name="_xfToken" value="1685112492,8d0b7892618efd54fd16a07133a3b013">
            <div class="block-container">
              <div class="block-body">
                <div class="message message--quickReply block-topRadiusContent block-bottomRadiusContent">
                  <div class="message-inner">
                    <div class="message-cell message-cell--user">
                      <div class="message-user ">
                        <div class="message-avatar">
                          <div class="message-avatar-wrapper">
                            <a href="/sosyal/uye/akif9748.298223/" class="avatar avatar--m" data-user-id="298223" data-xf-init="member-tooltip" id="js-XFUniqueId28">
                              <img data-cfsrc="https://www.technopat.net/sosyal/data/avatars/m/298/298223.jpg?1684948015" srcset="https://www.technopat.net/sosyal/data/avatars/l/298/298223.jpg?1684948015 2x" alt="Akif9748" class="avatar-u298223-m" width="96" height="96" loading="lazy" src="https://www.technopat.net/sosyal/data/avatars/m/298/298223.jpg?1684948015">
                            </a>
                          </div>
                        </div>
                        <span class="message-userArrow"></span>
                      </div>
                    </div>
                    <div class="message-cell message-cell--main">
                      <div class="message-editorWrapper">

                        <script class="js-lwPostMacros-macros" type="application/json">
                          []
                        </script>
                        <script class="js-editorToolbars" type="application/json">
                          {
                            "toolbarButtons": {
                              "moreText": {
                                "buttons": ["bold", "italic", "underline", "strikeThrough", "fontSize", "xfInlineSpoiler", "textColor", "lwPostMacrosInsert"],
                                "buttonsVisible": "8",
                                "align": "left"
                              },
                              "moreParagraph": {
                                "buttons": ["xfList", "align", "paragraphFormat"],
                                "buttonsVisible": "3",
                                "align": "left"
                              },
                              "moreRich": {
                                "buttons": ["insertLink", "xfSmilie", "xfQuote", "xfSpoiler", "xfInlineCode", "xfCode", "insertHR", "xfCustom_gallery", "xfMedia", "insertTable"],
                                "buttonsVisible": "6",
                                "align": "left"
                              },
                              "moreMisc": {
                                "buttons": ["clearFormatting", "xfBbCode", "xfDraft", "undo", "redo"],
                                "buttonsVisible": "7",
                                "align": "right"
                              }
                            },
                            "toolbarButtonsMD": {
                              "moreText": {
                                "buttons": ["bold", "italic", "fontSize", "underline", "textColor", "strikeThrough"],
                                "buttonsVisible": "2",
                                "align": "left"
                              },
                              "moreParagraph": {
                                "buttons": ["xfList", "align", "paragraphFormat", "lwPostMacrosInsert"],
                                "buttonsVisible": "3",
                                "align": "left"
                              },
                              "moreRich": {
                                "buttons": ["insertLink", "xfSmilie", "xfInlineCode", "xfCode", "mfList", "insertHR", "xfMedia", "xfCustom_gallery", "insertVideo", "insertTable"],
                                "buttonsVisible": "5",
                                "align": "left"
                              },
                              "moreMisc": {
                                "buttons": ["clearFormatting", "xfBbCode", "undo", "redo", "xfDraft"],
                                "buttonsVisible": "2",
                                "align": "right"
                              }
                            },
                            "toolbarButtonsSM": {
                              "moreText": {
                                "buttons": ["bold", "italic", "fontSize", "textColor", "strikeThrough", "underline", "xfInlineSpoiler", "lwPostMacrosInsert"],
                                "buttonsVisible": "2",
                                "align": "left"
                              },
                              "moreParagraph": {
                                "buttons": ["xfList", "align", "paragraphFormat"],
                                "buttonsVisible": "1",
                                "align": "left"
                              },
                              "moreRich": {
                                "buttons": ["insertLink", "xfSmilie", "xfQuote", "insertVideo", "xfMedia", "insertTable", "insertHR", "xfSpoiler", "xfInlineCode", "xfCode", "xfCustom_gallery"],
                                "buttonsVisible": "3",
                                "align": "left"
                              },
                              "moreMisc": {
                                "buttons": ["undo", "redo", "xfBbCode", "clearFormatting", "xfDraft"],
                                "buttonsVisible": "1",
                                "align": "right"
                              }
                            },
                            "toolbarButtonsXS": {
                              "moreText": {
                                "buttons": ["bold", "italic", "fontSize", "textColor", "xfList", "align", "paragraphFormat", "strikeThrough", "underline", "xfInlineSpoiler", "lwPostMacrosInsert"],
                                "buttonsVisible": "1",
                                "align": "left"
                              },
                              "moreParagraph": {
                                "buttons": [],
                                "buttonsVisible": "0",
                                "align": "left"
                              },
                              "moreRich": {
                                "buttons": ["insertLink", "xfSmilie", "xfQuote", "insertVideo", "xfMedia", "insertTable", "insertHR", "xfSpoiler", "xfInlineCode", "xfCode", "xfCustom_gallery"],
                                "buttonsVisible": "2",
                                "align": "left"
                              },
                              "moreMisc": {
                                "buttons": ["undo", "redo", "xfBbCode", "clearFormatting", "xfDraft"],
                                "buttonsVisible": "1",
                                "align": "right"
                              }
                            }
                          }
                        </script>
                        <script class="js-editorToolbarSizes" type="application/json">
                          {
                            "SM": 420,
                            "MD": 575,
                            "LG": 900
                          }
                        </script>
                        <script class="js-editorDropdowns" type="application/json">
                          {
                            "mfList": {
                              "cmd": "mfList",
                              "icon": "fa-ellipsis-h",
                              "buttons": ["xfQuote", "xfInlineSpoiler", "xfSpoiler"],
                              "title": "Di\u011fer"
                            },
                            "xfList": {
                              "cmd": "xfList",
                              "icon": "fa-list",
                              "buttons": ["formatOL", "formatUL", "indent", "outdent"],
                              "title": "List"
                            }
                          }
                        </script>
                        <script class="js-editorLanguage" type="application/json">
                          {
                            "Align Center": "Ortala",
                            "Align Left": "Sola Yasla",
                            "Align Right": "Sağa Yasla",
                            "Align Justify": "İki yana yasla",
                            "Align": "Konumlama",
                            "Alignment": "Konumlama",
                            "Back": "Geri",
                            "Bold": "Kalın",
                            "By URL": "URL'ile yükle",
                            "Clear Formatting": "Biçimlendirmeyi kaldır",
                            "Code": "Kod",
                            "Text Color": "Yazı rengi",
                            "Decrease Indent": "Girintiyi Azalt",
                            "Delete Draft": "Taslağı Sil",
                            "Drafts": "Taslaklar",
                            "Drop image": "Sürükle bırak",
                            "Drop video": "Drop video",
                            "Edit Link": "Linki düzenle",
                            "Font Family": "Yazı tipi",
                            "Font Size": "Yazı boyutu",
                            "Normal": "Normal",
                            "Heading 1": "Başlık 1",
                            "Heading 2": "Başlık 2",
                            "Heading 3": "Başlık 3",
                            "Increase Indent": "Girintiyi Arttır",
                            "Inline Code": "Satıriçi kod",
                            "Insert GIF": "GIF ekle",
                            "Insert Horizontal Line": "Yatay çizgi ekle",
                            "Inline Spoiler": "Satıriçi sürprizbozan",
                            "Insert Image": "Görsel ekle",
                            "Insert Link": "Bağlantı ekle",
                            "Insert": "Ekle",
                            "Italic": "İtalik",
                            "List": "Liste",
                            "Loading image": "Görsel yükleniyor",
                            "Media": "Medya",
                            "More Text": "Ayrıntılı düzenleme…",
                            "More Paragraph": "Ayrıntılı düzenleme…",
                            "More Rich": "Ayrıntılı düzenleme…",
                            "More Misc": "Ayrıntılı düzenleme…",
                            "Open Link": "Linki aç",
                            "or click": "Veya buraya tıklayın",
                            "Ordered List": "Numaralı Liste",
                            "Paragraph Format": "Paragraf biçimi",
                            "Preview": "Önizleme",
                            "Quote": "Alıntıla",
                            "Redo": "Yinele",
                            "Remove": "Kaldır",
                            "Replace": "Değiştir",
                            "Save Draft": "Taslağı kaydet",
                            "Smilies": "İfadeler",
                            "Something went wrong. Please try again.": "Bir problem meydana geldi. Lütfen tekrar deneyin ya da site yöneticisiyle irtibata geçiniz. ",
                            "Spoiler": "Sürprizbozan",
                            "Strikethrough": "Üstü çizili",
                            "Text": "Metin",
                            "Toggle BB Code": "BB kod düzenlemesi",
                            "Underline": "Altı çizili",
                            "Undo": "Geri al",
                            "Unlink": "Linki Kaldır",
                            "Unordered List": "Numarasız Liste",
                            "Update": "Güncelle",
                            "Upload Image": "Görsel yükle",
                            "Uploading": "Yükleniyor",
                            "URL": "URL (Bağlantı)",
                            "Insert Table": "Tablo ekle",
                            "Table Header": "Tablo Başlığı",
                            "Remove Table": "Tabloyu kaldır",
                            "Row": "Satır",
                            "Column": "Sütun",
                            "Insert row above": "Yukarı satır ekle",
                            "Insert row below": "Aşağı satır ekle",
                            "Delete row": "Satırı sil",
                            "Insert column before": "Öncesine sütun ekle",
                            "Insert column after": "Sonrasına sütun ekle",
                            "Delete column": "Sütunu sil",
                            "Ctrl": "Ctrl",
                            "Shift": "Shift",
                            "Alt": "Alt",
                            "Insert Video": "Video ekle",
                            "Upload Video": "Video yükle",
                            "Width": "Genişlik",
                            "Height": "Yükseklik",
                            "Change Size": "Boyutu değiştir",
                            "None": "Yok",
                            "Alternative Text": "Alt yazı",
                            "__lang end__": ""
                          }
                        </script>
                        <script class="js-editorCustom" type="application/json">
                          {
                            "gallery": {
                              "title": "Galeri yerle\u015ftir",
                              "type": "fa",
                              "value": "camera",
                              "option": "yes"
                            },
                            "ubs": {
                              "title": "Blog Girdisi\/Blog\/Blog Serileri",
                              "type": "fa",
                              "value": "blog",
                              "option": "yes"
                            }
                          }
                        </script>
                        <script class="js-xfEditorMenu" type="text/template">
                          <div class="menu" data-menu="menu" aria-hidden="true"
                        data-href="{{href}}"
                        data-load-target=".js-xfEditorMenuBody">
                        <div class="menu-content">
                            <div class="js-xfEditorMenuBody">
                                <div class="menu-row">Yüklüyor…</div>
                            </div>
                        </div>
                    </div>
                </script>
                        <div class="fr-box bbWrapper fr-ltr fr-basic fr-top" role="application" data-size="XS">
                          <div class="fr-toolbar fr-ltr fr-mobile fr-top fr-basic">
                            <div class="fr-btn-grp fr-float-left"><button id="bold-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Kalın (Ctrl+B)" class="fr-command fr-btn" data-cmd="bold"><i class="far fa-bold" aria-hidden="true"></i><span class="fr-sr-only">Kalın</span></button><button id="moreText-1" data-group-name="moreText-1" type="button" tabindex="-1" role="button" title="Ayrıntılı düzenleme…" class="fr-command fr-btn" data-cmd="moreText"><i class="far fa-ellipsis-v" aria-hidden="true"></i><span class="fr-sr-only">Ayrıntılı düzenleme…</span></button></div>
                            <div class="fr-btn-grp fr-float-left"></div>
                            <div class="fr-btn-grp fr-float-left"><button id="insertLink-1" type="button" tabindex="-1" role="button" title="Bağlantı ekle (Ctrl+K)" class="fr-command fr-btn" data-cmd="insertLink" data-popup="true"><i class="far fa-link" aria-hidden="true"></i><span class="fr-sr-only">Bağlantı ekle</span></button><button id="xfSmilie-1" type="button" tabindex="-1" role="button" title="İfadeler" class="fr-command fr-btn" data-cmd="xfSmilie"><i class="far fa-smile" aria-hidden="true"></i><span class="fr-sr-only">İfadeler</span></button><button id="moreRich-1" data-group-name="moreRich-1" type="button" tabindex="-1" role="button" title="Ayrıntılı düzenleme…" class="fr-command fr-btn" data-cmd="moreRich"><i class="far fa-ellipsis-v" aria-hidden="true"></i><span class="fr-sr-only">Ayrıntılı düzenleme…</span></button></div>
                            <div class="fr-btn-grp fr-float-right rte-tab--beforePreview"><button id="undo-1" type="button" tabindex="-1" role="button" aria-disabled="true" title="Geri al (Ctrl+Z)" class="fr-command fr-btn fr-disabled" data-cmd="undo"><i class="far fa-undo" aria-hidden="true"></i><span class="fr-sr-only">Geri al</span></button><button id="moreMisc-1" data-group-name="moreMisc-1" type="button" tabindex="-1" role="button" title="Ayrıntılı düzenleme…" class="fr-command fr-btn" data-cmd="moreMisc"><i class="far fa-ellipsis-v" aria-hidden="true"></i><span class="fr-sr-only">Ayrıntılı düzenleme…</span></button></div>
                            <div class="fr-btn-grp fr-float-right rte-tab--inactive rte-tab--preview"><button id="xfPreview-1" type="button" tabindex="-1" role="button" title="Önizleme" class="fr-command fr-btn" data-cmd="xfPreview"><i class="far fa-file-search" aria-hidden="true"></i><span class="fr-sr-only">Önizleme</span></button></div>
                            <div class="fr-newline"></div>
                            <div class="fr-more-toolbar position-relative" data-name="moreText-1"><button id="italic-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="İtalik (Ctrl+I)" class="fr-command fr-btn" data-cmd="italic"><i class="far fa-italic" aria-hidden="true"></i><span class="fr-sr-only">İtalik</span></button><button id="fontSize-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-fontSize-1" aria-expanded="false" aria-haspopup="true" title="Yazı boyutu" class="fr-command fr-btn fr-dropdown fr-selection" data-cmd="fontSize"><i class="far fa-text-size" aria-hidden="true"></i><span class="fr-sr-only">Yazı boyutu</span></button>
                              <div id="dropdown-menu-fontSize-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="fontSize-1" aria-hidden="true">
                                <div class="fr-dropdown-wrapper" role="presentation">
                                  <div class="fr-dropdown-content" role="presentation">
                                    <ul class="fr-dropdown-list" role="presentation">
                                      <li role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="9px" title="9">9</a></li>
                                      <li role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="10px" title="10">10</a></li>
                                      <li role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="12px" title="12">12</a></li>
                                      <li role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="15px" title="15">15</a></li>
                                      <li role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="18px" title="18">18</a></li>
                                      <li role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="22px" title="22">22</a></li>
                                      <li role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="26px" title="26">26</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div><button id="textColor-1" type="button" tabindex="-1" role="button" title="Yazı rengi" class="fr-command fr-btn" data-cmd="textColor" data-popup="true"><i class="far fa-palette" aria-hidden="true"></i><span class="fr-sr-only">Yazı rengi</span></button><button id="xfList-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-xfList-1" aria-expanded="false" aria-haspopup="true" title="Liste" class="fr-command fr-btn fr-dropdown" data-cmd="xfList"><i class="far fa-list" aria-hidden="true"></i><span class="fr-sr-only">Liste</span></button>
                              <div id="dropdown-menu-xfList-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="xfList-1" aria-hidden="true">
                                <div class="fr-dropdown-wrapper" role="presentation">
                                  <div class="fr-dropdown-content" role="presentation">
                                    <ul class="fr-dropdown-list">
                                      <li><a class="fr-command" data-cmd="formatOL"><i class="far fa-list-ol" aria-hidden="true"></i>&nbsp;&nbsp;Numaralı Liste</a></li>
                                      <li><a class="fr-command" data-cmd="formatUL"><i class="far fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;Numarasız Liste</a></li>
                                      <li><a class="fr-command" data-cmd="indent"><i class="far fa-indent" aria-hidden="true"></i>&nbsp;&nbsp;Girintiyi Arttır</a></li>
                                      <li><a class="fr-command" data-cmd="outdent"><i class="far fa-outdent" aria-hidden="true"></i>&nbsp;&nbsp;Girintiyi Azalt</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div><button id="align-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-align-1" aria-expanded="false" aria-haspopup="true" title="Konumlama" class="fr-command fr-btn fr-dropdown" data-cmd="align"><i class="far fa-align-left" aria-hidden="true"></i><span class="fr-sr-only">Konumlama</span></button>
                              <div id="dropdown-menu-align-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="align-1" aria-hidden="true">
                                <div class="fr-dropdown-wrapper" role="presentation">
                                  <div class="fr-dropdown-content" role="presentation">
                                    <ul class="fr-dropdown-list" role="presentation">
                                      <li role="presentation"><a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="
                    left" title="Sola Yasla"><i class="far fa-align-left" aria-hidden="true"></i><span class="fr-sr-only">
                                            Sola Yasla</span></a></li>
                                      <li role="presentation"><a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="
                    center" title="Ortala"><i class="far fa-align-center" aria-hidden="true"></i><span class="fr-sr-only">
                                            Ortala</span></a></li>
                                      <li role="presentation"><a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="
                    right" title="Sağa Yasla"><i class="far fa-align-right" aria-hidden="true"></i><span class="fr-sr-only">
                                            Sağa Yasla</span></a></li>
                                      <li role="presentation"><a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="
                    justify" title="İki yana yasla"><i class="far fa-align-justify" aria-hidden="true"></i><span class="fr-sr-only">
                                            İki yana yasla</span></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div><button id="paragraphFormat-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-paragraphFormat-1" aria-expanded="false" aria-haspopup="true" title="Paragraf biçimi" class="fr-command fr-btn fr-dropdown fr-selection" data-cmd="paragraphFormat"><i class="far fa-paragraph" aria-hidden="true"></i><span class="fr-sr-only">Paragraf biçimi</span></button>
                              <div id="dropdown-menu-paragraphFormat-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="paragraphFormat-1" aria-hidden="true">
                                <div class="fr-dropdown-wrapper" role="presentation">
                                  <div class="fr-dropdown-content" role="presentation">
                                    <ul class="fr-dropdown-list" role="presentation">
                                      <li role="presentation">
                                        <p style="padding: 0 !important; margin: 0 !important; border: 0 !important; background-color: transparent !important; font-size: 15px" role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="N" title="Normal">Normal</a></p>
                                      </li>
                                      <li role="presentation">
                                        <h2 style="padding: 0 !important; margin: 0 !important; border: 0 !important; background-color: transparent !important; font-weight: bold !important; font-size: 1.5em !important; " role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="H2" title="Başlık 1">Başlık 1</a></h2>
                                      </li>
                                      <li role="presentation">
                                        <h3 style="padding: 0 !important; margin: 0 !important; border: 0 !important; background-color: transparent !important; font-weight: bold !important; font-size: 1.17em !important; " role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="H3" title="Başlık 2">Başlık 2</a></h3>
                                      </li>
                                      <li role="presentation">
                                        <h4 style="padding: 0 !important; margin: 0 !important; border: 0 !important; background-color: transparent !important; font-weight: bold !important; font-size: 15px !important;" role="presentation"><a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="H4" title="Başlık 3">Başlık 3</a></h4>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div><button id="strikeThrough-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Üstü çizili (Ctrl+S)" class="fr-command fr-btn" data-cmd="strikeThrough"><i class="far fa-strikethrough" aria-hidden="true"></i><span class="fr-sr-only">Üstü çizili</span></button><button id="underline-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Altı çizili (Ctrl+U)" class="fr-command fr-btn" data-cmd="underline"><i class="far fa-underline" aria-hidden="true"></i><span class="fr-sr-only">Altı çizili</span></button><button id="xfInlineSpoiler-1" type="button" tabindex="-1" role="button" title="Satıriçi sürprizbozan" class="fr-command fr-btn" data-cmd="xfInlineSpoiler"><i class="far fa-mask" aria-hidden="true"></i><span class="fr-sr-only">Satıriçi sürprizbozan</span></button>
                            </div>
                            <div class="fr-more-toolbar position-relative" data-name="moreRich-1"><button id="xfQuote-1" type="button" tabindex="-1" role="button" title="Alıntıla" class="fr-command fr-btn" data-cmd="xfQuote"><i class="far fa-quote-right" aria-hidden="true"></i><span class="fr-sr-only">Alıntıla</span></button><button id="xfMedia-1" type="button" tabindex="-1" role="button" title="Medya" class="fr-command fr-btn" data-cmd="xfMedia"><i class="far fa-photo-video" aria-hidden="true"></i><span class="fr-sr-only">Medya</span></button><button id="insertTable-1" type="button" tabindex="-1" role="button" title="Tablo ekle" class="fr-command fr-btn" data-cmd="insertTable" data-popup="true"><i class="far fa-table" aria-hidden="true"></i><span class="fr-sr-only">Tablo ekle</span></button><button id="insertHR-1" type="button" tabindex="-1" role="button" title="Yatay çizgi ekle" class="fr-command fr-btn" data-cmd="insertHR"><i class="far fa-minus" aria-hidden="true"></i><span class="fr-sr-only">Yatay çizgi ekle</span></button><button id="xfSpoiler-1" type="button" tabindex="-1" role="button" title="Sürprizbozan" class="fr-command fr-btn" data-cmd="xfSpoiler"><i class="far fa-eye-slash" aria-hidden="true"></i><span class="fr-sr-only">Sürprizbozan</span></button><button id="xfInlineCode-1" type="button" tabindex="-1" role="button" title="Satıriçi kod" class="fr-command fr-btn" data-cmd="xfInlineCode"><i class="far fa-terminal" aria-hidden="true"></i><span class="fr-sr-only">Satıriçi kod</span></button><button id="xfCode-1" type="button" tabindex="-1" role="button" title="Kod" class="fr-command fr-btn" data-cmd="xfCode"><i class="far fa-code" aria-hidden="true"></i><span class="fr-sr-only">Kod</span></button><button id="xfCustom_gallery-1" type="button" tabindex="-1" role="button" title="Galeri yerleştir" class="fr-command fr-btn" data-cmd="xfCustom_gallery"><i class="far fa-camera" aria-hidden="true"></i><span class="fr-sr-only">Galeri yerleştir</span></button></div>
                            <div class="fr-more-toolbar position-relative" data-name="moreMisc-1"><button id="redo-1" type="button" tabindex="-1" role="button" aria-disabled="true" title="Yinele (Ctrl+Shift+Z)" class="fr-command fr-btn fr-disabled" data-cmd="redo"><i class="far fa-redo" aria-hidden="true"></i><span class="fr-sr-only">Yinele</span></button><button id="xfBbCode-1" type="button" tabindex="-1" role="button" title="BB kod düzenlemesi" class="fr-command fr-btn" data-cmd="xfBbCode"><i class="far fa-brackets" aria-hidden="true"></i><span class="fr-sr-only">BB kod düzenlemesi</span></button><button id="clearFormatting-1" type="button" tabindex="-1" role="button" title="Biçimlendirmeyi kaldır" class="fr-command fr-btn" data-cmd="clearFormatting"><i class="far fa-eraser" aria-hidden="true"></i><span class="fr-sr-only">Biçimlendirmeyi kaldır</span></button><button id="xfDraft-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-xfDraft-1" aria-expanded="false" aria-haspopup="true" title="Taslaklar" class="fr-command fr-btn fr-dropdown" data-cmd="xfDraft"><i class="far fa-save" aria-hidden="true"></i><span class="fr-sr-only">Taslaklar</span></button>
                              <div id="dropdown-menu-xfDraft-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="xfDraft-1" aria-hidden="true">
                                <div class="fr-dropdown-wrapper" role="presentation">
                                  <div class="fr-dropdown-content" role="presentation">
                                    <ul class="fr-dropdown-list">
                                      <li><a class="fr-command" data-cmd="xfDraft" data-param1="xfDraftSave">Taslağı kaydet</a></li>
                                      <li><a class="fr-command" data-cmd="xfDraft" data-param1="xfDraftDelete">Taslağı Sil</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="fr-wrapper show-placeholder" style="max-height: 639px; overflow: auto;" dir="ltr">
                            <div class="fr-element fr-view fr-element-scroll-visible" style="min-height: 100px;" dir="ltr" contenteditable="true" aria-disabled="false" spellcheck="true" autocomplete="on" autocorrect="on" autocapitalize="on">
                              <p><br></p>
                            </div><span class="fr-placeholder" style="font-size: 16px; line-height: 22.4px; margin-top: 0px; padding-top: 10px; padding-left: 20px; margin-left: 0px; padding-right: 20px; margin-right: 0px; text-align: left;">Mesajınızı yazınız...</span>
                          </div>
                          <div class="fr-second-toolbar"></div>
                        </div><textarea name="message_html" class="input js-editor u-jsOnly" data-xf-init="editor" data-original-name="message" data-buttons-remove="xfInsertGif,lwPostMacrosInsert" style="height: 137px; display: none;" aria-label="Zengin metin kutusu" data-min-height="100" placeholder="Mesajınızı yazınız..." data-deferred="off" data-xf-key="r" data-preview-url="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/reply-preview"></textarea>
                        <input type="hidden" value="" data-bb-code="message">
                        <noscript>
                          <textarea name="message" class="input" aria-label="Zengin metin kutusu"></textarea>
                        </noscript>
                        <input type="hidden" name="timezone" value="Europe/Moscow" data-xf-init="auto-timezone">
                        <dl class="formRow formRow--fullWidth">
                          <dt>
                            <div class="formRow-labelWrapper"></div>
                          </dt>
                          <dd>
                            <ul class="inputChoices">
                              <li class="inputChoices-choice"><label class="iconic"><input type="checkbox" name="ozzmodz_sc_check" value="1" data-hide="true" data-xf-init="disabler"><i aria-hidden="true"></i><span class="iconic-label">Yayınlamayı planla:</span></label>
                                <ul class="inputChoices-dependencies is-disabled" style="display: none;">
                                  <li class="inputChoices-option">
                                    <div class="inputGroup inputGroup--auto">
                                      <div class="inputGroup inputGroup--date inputGroup--joined inputDate">
                                        <input type="text" class="input input--date is-disabled" autocomplete="off" data-xf-init="date-input " data-week-start="0" name="ozzmodz_sc_publish_date" value="2023-05-26" data-min-date="2023-05-26" disabled="">
                                        <span class="inputGroup-text inputDate-icon js-dateTrigger"></span>
                                      </div>
                                      <span class="inputGroup-text">-</span>
                                      <input type="time" class="input is-disabled" name="ozzmodz_sc_publish_time" value="17:48" disabled="">
                                    </div>
                                    <span class="u-muted">Ağ sunucusu zaman dilimi kullanılır (Europe/Minsk)</span>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                        <dl class="formRow formRow--fullWidth formRow--noLabel">
                          <dt>
                            <div class="formRow-labelWrapper"></div>
                          </dt>
                          <dd>
                            <h4 class="block-textHeader">Yazım denetimi</h4>
                            <ul class="listHeap">
                              <li>
                                <ul class="inputChoices">
                                  <li class="inputChoices-choice"><label class="iconic"><input type="checkbox" name="fixDot" value="1" form-data="true"><i aria-hidden="true"></i><span class="iconic-label">Nokta</span></label>
                                    <dfn class="inputChoices-explain">Satır sonlarına nokta eklenir.</dfn>
                                  </li>
                                </ul>
                              </li>
                              <li>
                                <ul class="inputChoices">
                                  <li class="inputChoices-choice"><label class="iconic"><input type="checkbox" name="fixCapsLock" value="1" form-data="true"><i aria-hidden="true"></i><span class="iconic-label">Büyük harf</span></label>
                                    <dfn class="inputChoices-explain">Hatalı büyük harf kullanımı düzenlenir.</dfn>
                                  </li>
                                </ul>
                              </li>
                              <li style="margin-left: 10px;">
                                <button type="button" class="button button--icon" style="vertical-align: text-bottom;" data-xf-init="duzelt" data-duzelt-url="/sosyal/duzelt/" data-feedback-url="/sosyal/duzelt/feedback"><i class="fa--xf far fa-spell-check" aria-hidden="true"></i><span class="button-text">Düzelt</span></button>
                                <button type="button" class="button--link u-jsOnly afterToggle button button--icon button--icon--rate" style="display:none; vertical-align: text-bottom;" data-xf-click="toggle" data-target=".js-handleToggle"><span class="button-text"></span></button>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                        <hr class="formRowSep">
                        <input type="hidden" name="url" value="https://www.technopat.net/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/" form-data="true">
                        <div class="js-handleToggle toggleTarget">
                          <dl class="formRow formRow--input">
                            <dt>
                              <div class="formRow-labelWrapper">
                                <label class="formRow-label" for="_xfUid-1-1685112492">Geri bildirim</label>
                              </div>
                            </dt>
                            <dd>
                              <textarea class="input input--fitHeight" form-data="true" name="feedback" placeholder="Metinde oluşan hatalar, öneriler..." id="_xfUid-1-1685112492" data-xf-init="textarea-handler"></textarea>
                            </dd>
                          </dl>
                          <dl class="formRow">
                            <dt>
                              <div class="formRow-labelWrapper"></div>
                            </dt>
                            <dd>
                              <button type="button" class="button--small button--primary u-jsOnly js-feedback button button--icon button--icon--confirm"><span class="button-text">Gönder
                                </span></button>
                            </dd>
                          </dl>
                        </div>
                        <div class="attachmentUploads js-attachmentUploads attachmentUploads--spaced ">
                          <div class="hScroller" data-xf-init="h-scroller">
                            <div class="hScroller-scroll is-calculated">
                              <ul class="attachUploadList js-attachmentFiles">
                              </ul>
                            </div><i class="hScroller-action hScroller-action--end" aria-hidden="true"></i><i class="hScroller-action hScroller-action--start" aria-hidden="true"></i>
                          </div>
                          <div class="attachmentUploads-banner js-attachmentInsertMultiRow u-hidden">
                            <button type="button" class="button--link js-attachmentSelect button" data-toggle="İptal"><span class="button-text">
                                Birden çok ekle…
                              </span></button>
                            <ul class="attachmentUploads-selectActions js-attachmentSelectActions">
                              <li>
                                <span class="button button--link selectAll">
                                  <span class="button-text">
                                    <label class="iconic"><input type="checkbox" value="1" data-xf-init="check-all" data-container="< .attachmentUploads"><i aria-hidden="true"></i><span class="iconic-label">Tümünü seç</span></label>
                                  </span>
                                </span>
                              </li>
                              <li class="js-attachmentSelectInsertActions">
                                <span class="insert-label">Ekle:</span>
                                <span class="buttonGroup">
                                  <button type="button" class="button--link js-attachmentSelectAction button" data-action="thumbnail" disabled=""><span class="button-text">
                                      Küçük Resim
                                    </span></button>
                                  <button type="button" class="button--link js-attachmentSelectAction button" data-action="full" disabled=""><span class="button-text">
                                      Tam Resim
                                    </span></button>
                                </span>
                              </li>
                              <li>
                                <button type="button" class="button--link button--iconOnly js-attachmentSelectAction button button--icon" data-action="delete" disabled=""><i class="fa--xf far fa-trash-alt" aria-hidden="true"></i><span class="button-text">
                                    <span class="u-srOnly">Sil</span>
                                  </span></button>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <script type="text/template" class="js-attachmentUploadTemplate">
                          <li class="file js-attachmentFile" {{#attachment_id}}data-attachment-id="{{attachment_id}}"{{/attachment_id}}>
                        {{#uploading}}
                            <div class="file-preview">
                                <div class="file-progress js-attachmentProgress"></div>
                                <span class="file-error js-attachmentError"></span>
                            </div>
                        {{/uploading}}
                        {{^uploading}}
                            {{#thumbnail_url}}
                                <a class="file-preview js-attachmentView" href="{{link}}" target="_blank">
                                    <img src="{{thumbnail_url}}" class="js-attachmentThumb" alt="{{filename}}" />
                                </a>
                            {{/thumbnail_url}}
                            {{^thumbnail_url}}
                                {{#is_video}}
                                    <a class="file-preview js-attachmentView" href="{{link}}" target="_blank">
                                        <video data-xf-init="video-init">
                                            <source src="{{link}}" />
                                        </video>
                                    </a>
                                {{/is_video}}
                                {{^is_video}}
                                    <a class="file-preview js-attachmentView" href="{{link}}" target="_blank">
                                        <span class="file-typeIcon">
                                            <i class="fa--xf far {{icon}}" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                {{/is_video}}
                            {{/thumbnail_url}}
                        {{/uploading}}
            
                        <div class="file-content">
            
                            {{#thumbnail_url}}
                                <div class="file-insert js-attachmentInsert">
                                    <a class="file-insertLink"
                                        data-xf-click="toggle"
                                        data-target="< .js-attachmentInsert"
                                        role="button"
                                        tabindex="0">
                                        Ekle…
                                    </a>
                                    <div class="file-menuOptions">
                                        <a class="js-attachmentAction" data-action="thumbnail" role="button" tabindex="0"
                                            data-xf-click="toggle" data-target="< .js-attachmentInsert">Küçük Resim</a>
                                        <a class="js-attachmentAction" data-action="full" role="button" tabindex="0"
                                            data-xf-click="toggle" data-target="< .js-attachmentInsert">Tam Resim</a>
                                    </div>
                                </div>
                            {{/thumbnail_url}}
                            {{^thumbnail_url}}
                                {{#is_video}}
                                    <div class="file-insert js-attachmentInsert">
                                        <a class="file-insertLink js-attachmentAction" data-action="full" data-type="video" role="button" tabindex="0">
                                            Ekle
                                        </a>
                                    </div>
                                {{/is_video}}
                                {{#is_audio}}
                                    <div class="file-insert js-attachmentInsert">
                                        <a class="file-insertLink js-attachmentAction" data-action="full" data-type="audio" role="button" tabindex="0">
                                            Ekle
                                        </a>
                                    </div>
                                {{/is_audio}}
                            {{/thumbnail_url}}
            
                            <div class="file-checkbox">
                                <label class="iconic iconic--noLabel"><input type="checkbox"  value="1" /><i aria-hidden="true"></i></label>
            
                            </div>
            
                            <span class="file-delete">
                                {{#uploading}}
                                    <a class="file-deleteLink js-attachmentAction"
                                        data-action="cancel"
                                        role="button"
                                        tabindex="0">
                                        <i class="fa--xf far fa-trash-alt" aria-hidden="true"></i>
                                        <span class="u-srOnly">İptal</span>
                                    </a>
                                {{/uploading}}
                                {{^uploading}}
                                    <a class="file-deleteLink js-attachmentAction"
                                        data-action="delete"
                                        data-type="{{type_grouping}}"
                                        role="button"
                                        tabindex="0">
                                        <i class="fa--xf far fa-trash-alt" aria-hidden="true"></i>
                                        <span class="u-srOnly">Sil</span>
                                    </a>
                                {{/uploading}}
            
            
                            </span>
            
                            <a class="file-info" href="{{link}}" target="_blank">
                                <span class="file-name">{{filename}}</span>
            
                                <div class="file-meta">
                                    {{#thumbnail_url}}{{width}} x {{height}} &middot; {{/thumbnail_url}}
                                    {{file_size_printable}}
                                </div>
                            </a>
            
                        </div>
                    </li>
                </script>
                        <div class="formButtonGroup ">
                          <div class="formButtonGroup-primary">
                            <button type="submit" class="button--primary button button--icon button--icon--reply"><span class="button-text">
                                Cevapla
                              </span></button>
                          </div>
                          <div class="formButtonGroup-extra">
                            <span class="js-attachButton"><a href="/sosyal/eklenti/upload?type=post&amp;context[thread_id]=2576435&amp;hash=53e62fd170c15a1d19c2824077ad42d3" class="button--link js-attachmentUpload button button--icon button--icon--attach" target="_blank" data-accept=".txt,.pdf,.png,.jpg,.jpeg,.jpe,.gif"><span class="button-text">Görsel yükle</span></a><input type="file" multiple="multiple" accept=".txt,.pdf,.png,.jpg,.jpeg,.jpe,.gif" title="Görsel yükle" style="visibility: hidden; position: absolute; width: 1px; height: 1px; overflow: hidden; left: -1000px;"></span>
                            <input type="hidden" name="attachment_hash" value="53e62fd170c15a1d19c2824077ad42d3">
                            <input type="hidden" name="attachment_hash_combined" value="{&quot;type&quot;:&quot;post&quot;,&quot;context&quot;:{&quot;thread_id&quot;:2576435},&quot;hash&quot;:&quot;53e62fd170c15a1d19c2824077ad42d3&quot;}">
                            <button type="button" class="button--link button--multiQuote button button--icon button--icon--quote" style="display: none;" data-xf-init="multi-quote" data-href="/sosyal/konu/discord-2fa-kapatilirsa-aktif-gelistirici-rozeti-gider-mi.2576435/multi-quote" data-message-selector=".js-post" data-storage-key="multiQuoteThread" data-add-message="Mesaj çoklu alıntıya eklendi." data-remove-message="Mesaj çoklu alıntıdan çıkarıldı."><span class="button-text">
                                Alıntıları Yerleştir…
                              </span></button>
                          </div>
                          <input type="hidden" name="last_date" value="1685112406" autocomplete="off">
                          <input type="hidden" name="last_known_date" value="1685112406" autocomplete="off">
                          <input type="hidden" name="load_extra" value="1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <%- include(dataset.getFile(dataset.theme.codename +"/views/extra/footer")) %>

  </div>

  <div class="u-scrollButtons js-scrollButtons" data-trigger-type="up">
    <a href="#top" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-up" aria-hidden="true"></i><span class="u-srOnly">Top</span></span></a>
  </div>
</body>

</html>